.container{
    display: flex;
    flex-direction: row;
    /*align-items: flex-start;*/
    /*justify-content: space-between;*/
    flex-wrap:wrap
}

img{
    float: left;
    height: 30%;
    width: 30%;
}
.side{
    background-color: aquamarine;
    width: 30%;

}
.main{
    background-color: coral;
    width: 70%;

}

